{% extends '::base.html.twig' %}

{% block body -%}
<div class="container">
    <h1>New Item to Shopping card</h1>

    {{ form(form) }}
    <p>test</p>

    {{ form_start(form, {'class' : 'form-horizontal'} ) }}
    	
    	{{ form_errors(form) }}
		
    	
    	{{ form_row(form.itemCode) }}
    	{{ form_row(form.itemName) }}
    	{{ form_row(form.itemPrice) }}
    	{{ form_row(form.itemQuantity) }}
    	{{ form_row(form.itemStatus) }}


	{{ form_end(form)}}

        <ul class="record_actions">
		    <li>
		        <a href="{{ path('todo') }}">
		            Back to the list
		        </a>
		    </li>
		</ul>
</div>
{% endblock %}
